:root {
    --grey: rgb(236,236,236);
    --white: #ffffff;
  }
html{
  background-color: var(--grey);
}
#uaig-logo {
    height: 25px;
    object-fit: cover;
    position: relative;
    margin: 10px;
    display: inline-block;
}

#app{
    background-color: var(--grey);
}

.header {
    display: inline-block;
    width: 100%;
}
.ua-logo {
    height: 60px;
    object-fit: cover;
    position: relative;
    margin: 20px;
    display: inline-block;
}

/*STATIC ON EACH PAGE*/
.background-white {
    background-color: var(--white);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow-y: scroll;
}
.left-content {
    display: inline-block;
    float: left;
}

.reset-text {
    background-color: #ececec;
    border-radius: 50px;
    border:none;
    position: relative;
    padding: 10px;
    margin-left: 15px;
    margin-right: 50px;
    overflow-wrap: break-word;
    display: inline-block;
}
    .reset-text:hover {
        background-color: #B2AFAF;
        cursor: pointer;
    }
.filters {
    display: inline-block;
    vertical-align: top;
}

/* dropdown list implementation */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.filter-results-text {
    position: relative;
    padding: 10px;
    text-align: left;
    font-family:Arial-Regular;
    font-size:16px;
    white-space: nowrap;
    display: inline-block;
    margin-top: 20px;
}
.filter-dropdown {
    background-color: #ececec;
    border-radius: 50px;
    border: none;
    position: relative;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    overflow-wrap: break-word;
    display: inline-block;
}
    .filter-dropdown:hover {
        background-color: #B2AFAF;
        cursor: pointer;
    }
    .faculty-text {
    background-color: #ececec;
    border-radius: 50px;
    position: relative;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    overflow-wrap: break-word;
    display: inline-block;
}

.selfidentification-text {
    background-color: #ececec;
    border-radius: 50px;
    position: relative;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    overflow-wrap: break-word;
    display: inline-block;
}
.filter1-text {
    background-color: var(--candlelight);
    border-radius: 50px;
    position: relative;
    margin: 15px;
    padding: 10px;
    overflow-wrap: break-word;
    display: inline-block;
}
.question-icon {
    position: relative;
    height: 30px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    /*  float: right;*/
}
/* accessibility dd buttons */


.accessibility-dropdown {
    background-color: white;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 15px;
    top: 41px;
    float: right;
    margin-right: 25px;
    
    border-radius: 20px 20px 0px 0px;
}
  .accessibility-ddbtn {
    background-color: #fff;
    color:Black;
    padding: 0px;
    font-size: 15px;
    border: none;
    max-width: 100px;
  }
  .accessibility-ddcontent {
    display: none;
    position: absolute;
    background-color:rgb(228,226,226);
   /* min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    margin-left: -15px;
    border-radius: 0px 0px 20px 20px;
  }
  
  .accessibility-ddcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.navigation-menu-box {
    background-color: black;
    text-decoration:none;
    object-fit: cover;
    color: white;
    padding: 15px;
    position: relative;
    display: inline-block;
    border-radius: 0px 0px 20px 20px;
    z-index: 100;
    margin-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

    .dropdown:hover .settings {
        display: block;
        z-index: 1;
    }
/*
HOME BODY*/
.home-body {
    display: inline-block;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.title {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-arial-bold);
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    position: relative;
    text-align: left;
}
.explore-text {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 20px;
    position: relative;
    text-align: left;
    width: 775px;
}

.info-button {
    color: white;
    margin: 11px;
    position: relative;
    text-align: center;
}

.info-rectangle {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 12.5px;
    z-index: 1;
}
.info-rectangle:hover {
    cursor:pointer;
}
.ui-dialog {
  background-color: black;
  color: white;
  position: relative;
  z-index: 1;
  border-radius:30px;  
  margin: 10px;
  padding: 20px;
  left: 20PX;
  line-height: 20px;
  width:250px;

}
.ui-dialog-title {
  font-size: 125%;
  text-decoration: underline;
}
.ui-dialog-titlebar {
  background-color: black;
  margin-bottom: 10px;
}
.ui-dialog-titlebar-close {
  float: right;
  position: relative;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.searchbar-rectangle-explore {
    background-color: #ececec;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    position: relative;
    width: 400px;
    display: inline-block;
    margin-top: 15px;
    padding: 12.5px;
}
.scrolling-explore {
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    height: 150px;
    width: 600px;
}
/*EXPLORE PAGE ONLY*/
.background-grey {
    background-color:  #ececec;
    border-radius: 30px;
    height: 500px;
    position: relative;
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    overflow-y: scroll;
}
.filters {
    display: inline-block;
    vertical-align: top;
}

.filter-panel{
    border: dashed 1px #B2AFAF;
}

.filter-panel .group {
    margin-bottom: 10px;
}

.filter1-text {
    background-color: #ffdc0e;
    border-radius: 50px;
    position: relative;
    margin: 15px;
    padding: 10px;
    overflow-wrap: break-word;
    display: inline-block;
}
.category-header {
    font-weight: bold;
    margin-top: 10px;
}
/*RESEARCHER PAGE*/
.background-grey-researcher {
    background-color: #ececec;
    border-radius: 30px;
    position: relative;
    width: 50%;
    margin: 20px;
    margin-bottom: 30px;
    display: inline-block;
    overflow-y: scroll;
    float: left;
}

.right-content-researcher {
    display: inline-block;
    position: relative;
    vertical-align: top;
   /* margin-left: 20px;*/
    width:40%;
    margin-top: 20px;
    float: right;
}
.right-content {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 5px;
}

.results {
    display: inline-block;
}

.results-image {
    position: relative;
    display: inline-block;
    float: left;
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
.results-name {
    position: relative;
    float: left;
    text-decoration: underline;
    margin-top: 20px;
}

.info-1 {
    display: inline-block;
    position: relative;
    float: left;
    font-size: 18px;
    max-width: 300px;
    font-family: Arial-Bold;
    line-height: 17px;
    margin-top: 20px;
}

.info-2 {
    display: inline-block;
    position: relative;
    float: right;
    font-size: 18px;
    font-family: Arial-Bold;
    line-height: 17px;
    max-width:300px;
    margin-top: 20px;
    padding: 17px;
}

.results-content {
    position: relative;
    display: block;
    font-size: 18px;
    font-family: Arial-Bold;
    margin-left: 20px;
    line-height: 17px;
}

.contact {
    display:block;
    background-color: white;
    border-radius: 50px;
    border: none;
    position: relative;
    padding: 12.5px;
    margin: 20px;
    float: right;
}
    .contact:hover {
        background-color: #B2AFAF;
        cursor:pointer;
    }

.back-to-search {
    background-color: #ececec;
    border-radius: 50px;
    border:none;
    position: relative;
    display: inline-block;
    padding: 12.5px;
    /*  margin: 20px;*/
}
    .back-to-search:hover {
        background-color: #B2AFAF;
        cursor:pointer;
    }

.explore-related {
    display: inline-block;
    position: relative;
    margin: 20px;
    vertical-align: top;
}

.related-scroll {
    background-color: #ececec;
    border-radius: 30px;
    padding: 20px;
    width: 650px;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
}

.related {
    display: inline-block;
}

.related-results {
    display: inline-block;
    position: relative;
    margin: 20px;
    margin-top: 10px;
}

.related-image {
    position: relative;
    display: inline-block;
    float: left;
    width: 100px;
}

.related-title {
    background-color: #ececec;
    font-weight: 700;
    text-decoration: underline;
    position: relative;
    width: 230px;
    padding: 15px;
    margin-left: 30px;
    border-radius: 20px 20px 0px 0px;
}
  .accessibility-ddcontent a:hover {background-color:rgb(228,226,226);}
  
  .accessibility-dropdown:hover .accessibility-ddcontent {display: block;}
  
  .accessibility-dropdown:hover .accessibility-ddbtn {background-color: #fff;}

.e-1, .e-2, .e-3, .e-4, .e-5, .e-6, .e-7, .e-8, .e-9, .e-10, .e-11, .e-12, .e-13, .e-14, .e-15, .e-16, .e-17, .e-18, .e-19, .e-20, .e-21, .e-22, .e-23, .e-24, .e-25, .e-26, .e-27, .e-28, .e-29, .e-30, .e-31, .e-32, .e-33, .e-34, .e-35, .e-36, .e-37, .e-38, .e-39, .e-40, .e-41, .e-42, .e-43, .e-44, .e-45, .e-46, .e-47, .e-48, .e-49, .e-50, .e-51, .e-52, .e-53, .e-54, .e-55 {
    position: relative;
    color: black;
    text-align: center;
    border-radius: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.e-1, .e-8, .e-15, .e-22, .e-29, .e-36, .e-43, .e-50 {
    background-color: var(--candlelight);
}

.e-2, .e-9, .e-16, .e-23, .e-30, .e-37, .e-44, .e-51 {
    background-color: var(--sunglow);
}

.e-3, .e-10, .e-17, .e-24, .e-31, .e-38, .e-45, .e-52 {
    background-color: var(--yellow-orange);
}

.e-4, .e-11, .e-18, .e-25, .e-32, .e-39, .e-46, .e-53 {
    background-color: var(--fern);
}

.e-5, .e-12, .e-19, .e-26, .e-33, .e-40, .e-47, .e-54 {
    background-color: var(--jade);
}

.e-6, .e-13, .e-20, .e-27, .e-34, .e-41, .e-48, .e-55 {
    background-color: var(--persian-green);
}

.e-7, .e-14, .e-21, .e-28, .e-35, .e-42, .e-49 {
    background-color: var(--wedgewood);
}

    .e-1:hover, .e-2:hover, .e-3:hover, .e-4:hover, .e-5:hover, .e-6:hover, .e-7:hover, .e-8:hover, .e-9:hover, .e-10:hover, .e-11:hover, .e-12:hover, .e-13:hover, .e-14:hover, .e-15:hover, .e-16:hover, .e-17:hover, .e-18:hover, .e-19:hover, .e-20:hover, .e-21:hover, .e-22:hover, .e-23:hover, .e-24:hover, .e-25:hover, .e-26:hover, .e-27:hover, .e-28:hover, .e-29:hover, .e-30:hover, .e-31:hover, .e-32:hover, .e-33:hover, .e-34:hover, .e-35:hover, .e-36:hover, .e-37:hover, .e-38:hover, .e-39:hover, .e-40:hover, .e-41:hover, .e-42:hover, .e-43:hover, .e-44:hover, .e-45:hover, .e-46:hover, .e-47:hover, .e-48:hover, .e-49:hover, .e-50:hover, .e-51:hover, .e-52:hover, .e-53:hover, .e-54:hover, .e-55:hover {
        transform: scale(1.4);
        opacity: 90%;
        text-decoration: underline;
        pointer-events: auto;
        transition: all 0.1s ease;
        z-index: 1;
    }
/* popup */
.popup{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:99;
    background-color:rgba(0,0,0,0.2);
    display:flex;
    align-items:center;
    justify-content:center;
}
.popup-inner{
    background:#FFF;
    padding:32px;
}

/* footer */
.footerLinks {
    line-height: 35px;
    text-align: left;
    margin: 30px;
}
  .footerLink {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
}
.footerLink:hover{
    text-decoration: none;
}
#footerLoginBtn{
  float: right;
  background-color: white;
  color: black;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  padding: 0px 20px 0 20px;
  text-decoration: none;
}
#footerLoginBtn:hover{
  text-decoration: none;
}
.navigationalmenu {
    float: right;
    margin-right: 100px;
}
.home-rectangle {
    background-color: black;
    color: white;
    padding: 15px;
    position: relative;
    display: inline-block;
    border-radius: 0px 0px 20px 20px;
}

xremove{
    font-size: small;
    font-family: sans-serif;
    font-weight: bold;
}

/* SEARCH TEXT */
.dir-text-search > input{
    background-image: url(icon-search.png);
    background-color: var(--grey);
    border-radius: 50px;
    cursor: pointer;
    
    position: relative;
    width:275px;
    display: inline-block;
    /*margin-top: 15px;*/
    padding: 12.5px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5%;
    border: none;
}

.router-link {
    text-decoration: underline;
}

    .router-link:hover {
        cursor: pointer
    }

